
.qsys_edit/filters.xml
.qsys_edit/preferences.xml
db/.cmp.kpt
db/prev_cmp_PWMgeneration.qmsg
db/PWMgeneration.map_bb.logdb
db/PWMgeneration.smp_dump.txt
db/PWMgeneration_top-LAPTOP-4BJ0KFSO.hier_info
db/PWMgeneration_top.(0).cnf.cdb
db/PWMgeneration_top.(0).cnf.hdb
db/PWMgeneration_top.(1).cnf.cdb
db/PWMgeneration_top.(1).cnf.hdb
db/PWMgeneration_top.(2).cnf.cdb
db/PWMgeneration_top.(2).cnf.hdb
db/PWMgeneration_top.(3).cnf.cdb
db/PWMgeneration_top.(3).cnf.hdb
db/PWMgeneration_top.(4).cnf.cdb
db/PWMgeneration_top.(4).cnf.hdb
db/PWMgeneration_top.asm.qmsg
db/PWMgeneration_top.asm.rdb
db/PWMgeneration_top.asm_labs.ddb
db/PWMgeneration_top.atom_fit.nvd
db/PWMgeneration_top.cbx.xml
db/PWMgeneration_top.cmp.bpm
db/PWMgeneration_top.cmp.cdb
db/PWMgeneration_top.cmp.hdb
db/PWMgeneration_top.cmp.idb
db/PWMgeneration_top.cmp.logdb
db/PWMgeneration_top.cmp.rdb
db/PWMgeneration_top.cmp_merge.kpt
db/PWMgeneration_top.db_info
db/PWMgeneration_top.eda.qmsg
db/PWMgeneration_top.fit.qmsg
db/PWMgeneration_top.hier_info
db/PWMgeneration_top.hif
db/PWMgeneration_top.lpc.html
db/PWMgeneration_top.lpc.rdb
db/PWMgeneration_top.lpc.txt
db/PWMgeneration_top.map-LAPTOP-4BJ0KFSO.qmsg
db/PWMgeneration_top.map.ammdb
db/PWMgeneration_top.map.bpm
db/PWMgeneration_top.map.cdb
db/PWMgeneration_top.map.hdb
db/PWMgeneration_top.map.kpt
db/PWMgeneration_top.map.qmsg
db/PWMgeneration_top.map.rdb
db/PWMgeneration_top.map_bb.cdb
db/PWMgeneration_top.map_bb.hdb
db/PWMgeneration_top.npp.qmsg
db/PWMgeneration_top.pplq.rdb
db/PWMgeneration_top.pre_map.hdb
db/PWMgeneration_top.root_partition.map.reg_db.cdb
db/PWMgeneration_top.routing.rdb
db/PWMgeneration_top.rtlv.hdb
db/PWMgeneration_top.rtlv_sg.cdb
db/PWMgeneration_top.rtlv_sg_swap.cdb
db/PWMgeneration_top.sgate.nvd
db/PWMgeneration_top.sgate_sm.nvd
db/PWMgeneration_top.sgate_sm_bdd.nvd
db/PWMgeneration_top.sld_design_entry.sci
db/PWMgeneration_top.sld_design_entry_dsc.sci
db/PWMgeneration_top.smart_action.txt
db/PWMgeneration_top.sta.qmsg
db/PWMgeneration_top.sta.rdb
db/PWMgeneration_top.sta_cmp.7_slow_1200mv_85c.tdb
db/PWMgeneration_top.tis_db_list.ddb
db/PWMgeneration_top.tiscmp.fast_1200mv_0c.ddb
db/PWMgeneration_top.tiscmp.fastest_slow_1200mv_0c.ddb
db/PWMgeneration_top.tiscmp.fastest_slow_1200mv_85c.ddb
db/PWMgeneration_top.tiscmp.slow_1200mv_0c.ddb
db/PWMgeneration_top.tiscmp.slow_1200mv_85c.ddb
db/PWMgeneration_top.tmw_info
db/PWMgeneration_top.vpr.ammdb
db/PWMgeneration_top.zippleback_io_sim_cache.ff_0c_fast.hsd
db/PWMgeneration_top.zippleback_io_sim_cache.ii_0c_slow.hsd
db/PWMgeneration_top.zippleback_io_sim_cache.ii_85c_slow.hsd
db/PWMgeneration_top_partition_pins.json
greybox_tmp/cbx_args.txt
hs_err_pid15604.log
incdec_duty.vhd.bak
incremental_db/compiled_partitions/PWMgeneration_top.db_info
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.ammdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.cdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.dfp
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.hdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.logdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.cdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.dpi
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.hdb
incremental_db/compiled_partitions/PWMgeneration_top.root_partition.map.kpt
incremental_db/compiled_partitions/PWMgeneration_top.rrp.hdb
incremental_db/README
output_files/PWMgeneration_top-LAPTOP-4BJ0KFSO.done
output_files/PWMgeneration_top-LAPTOP-4BJ0KFSO.pin
output_files/PWMgeneration_top.asm.rpt
output_files/PWMgeneration_top.done
output_files/PWMgeneration_top.cdf
output_files/PWMgeneration_top.eda.rpt
output_files/PWMgeneration_top.fit.rpt
output_files/PWMgeneration_top.fit.smsg
output_files/PWMgeneration_top.fit.summary
output_files/PWMgeneration_top.flow.rpt
output_files/PWMgeneration_top.jdi
output_files/PWMgeneration_top.map.rpt
output_files/PWMgeneration_top.map.summary
output_files/PWMgeneration_top.pin
output_files/PWMgeneration_top.sld
output_files/PWMgeneration_top.sta.rpt
output_files/PWMgeneration_top.sta.summary
PWM.vhd.bak
PWM_func.vhd.bak
PWM_pkg.vhd.bak
PWMgeneration_tb.vhd.bak
PWMgeneration_top.vhd.bak
PWMgeneration_top_nativelink_simulation-LAPTOP-4BJ0KFSO.rpt
PWMgeneration_top_nativelink_simulation-LAPTOP-4BJ0KFSO-2.rpt
PWMgeneration_top_nativelink_simulation.rpt
replay_pid15604.log
serv_req_info.txt
simulation/modelsim/gate_work/_info
simulation/modelsim/gate_work/_lib.qdb
simulation/modelsim/gate_work/_lib1_0.qdb
simulation/modelsim/gate_work/_lib1_0.qpg
simulation/modelsim/gate_work/_lib1_0.qtl
simulation/modelsim/gate_work/_vmake
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/PWMgeneration_top.sft
simulation/modelsim/PWMgeneration_top_modelsim.xrf
simulation/modelsim/PWMgeneration_top.vho
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak1
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak10
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak11
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak2
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak3
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak4
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak5
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak6
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak7
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak8
simulation/modelsim/PWMgeneration_top_run_msim_gate_vhdl.do.bak9
simulation/modelsim/vsim.wlf
simulation/modelsim/wlft3qd0r8
